<a href="https://colab.research.google.com/github/DiasMelissa/DiasMelissa/blob/main/Script13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Accessing database with python**

In [14]:
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [15]:
import sqlite3

In [16]:
createConnection = sqlite3.connect('escola.db')

In [17]:
type(createConnection)

sqlite3.Connection

In [18]:
createCursor = createConnection.cursor()

In [19]:
type(createCursor)

sqlite3.Cursor

In [22]:
sql_create = ''' create table courses ( 
  id integer primary key,
  title varchar(100), 
  category varchar(140)) '''

In [23]:
createCursor.execute(sql_create)

In [24]:
sql_insert = 'insert into courses values (?, ?, ?)'

In [25]:
recset = [(1000, 'Data Scientist', 'Data Scientist'),
          (1001, 'Big Data Fundamentals', 'Big Data'),
          (1002, 'Python Fundamentals','Data Analysis')]

In [26]:
for rec in recset:
  createCursor.execute(sql_insert, rec)

In [27]:
createConnection.commit()

In [28]:
sql_select = 'select * from courses'

In [30]:
createCursor.execute(sql_select)
data = createCursor.fetchall()

In [31]:
for line in data:
  print('Course Id: %d, Title: %s, Category: %s \n' % line )

Course Id: 1000, Title: Data Scientist, Category: Data Scientist

Course Id: 1001, Title: Big Data Fundamentals, Category: Big Data

Course Id: 1002, Title: Python Fundamentals, Category: Data Analysis

In [32]:
recset = [(1003, 'Data Management with MongoDB', 'Big Data'),
          (1004, 'R Fundamentals', 'Data Analysis')]

for rec in recset:
  createCursor.execute(sql_insert, rec)

createConnection.commit()

In [33]:
createCursor.execute('select * from courses')
recset = createCursor.fetchall()

for rec in recset:
  print('Course Id: %d, Title: %s, Category: %s \n' % rec )

Course Id: 1000, Title: Data Scientist, Category: Data Scientist

Course Id: 1001, Title: Big Data Fundamentals, Category: Big Data

Course Id: 1002, Title: Python Fundamentals, Category: Data Analysis

Course Id: 1003, Title: Data Management with MongoDB, Category: Big Data

Course Id: 1004, Title: R Fundamentals, Category: Data Analysis

In [34]:
createConnection.close()