<a href="https://colab.research.google.com/github/DiasMelissa/DiasMelissa/blob/main/Script06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conditionals if/else/elif**

if is useful to execute actions according to certain results.
Elif is useful to avoid repetitions inside the if/else structure.

if (...):
      ....
elif(...):
      ....      
else:
      ....

In [1]:
# Conditional if

if (100 > 2):
  print("It's true")

It's true

In [3]:
# Conditional If...Else

if (1000 > 10000):
    print("It's true")
else:
  print("It's false")

It's false

In [5]:
if (10 == 10):
  print("It's testing")

It's testing

In [6]:
if (True):
  print("It's working")

It's working

Nested conditionals

In [26]:
age = 20
if (age > 18):
  print("You're over 18 years old")

You're over 18 years old

In [30]:
age1 = 16
Name = "Molly"
if (age1 > 17):
  if (Name == "Molly"):
    print("You can join us")
  else:
    print("You can't join us")

In [32]:
age1 = 18
Name = "Molly"
if (age1 > 17 and Name == "Molly"):
    print("You can join us")

You can join us

In [33]:
age1 = 18
Name = "Molly"
if (age1 > 17 or Name == "Molly"):
    print("You can join us")

You can join us

Elif

In [34]:
day = "Tuesday"
if (day == "Monday"):
  print("It will rain")
elif (day == "Tuesday"):
  print("It won't rain")
else:
  print("There isn't information about the weather forecast")

It won't rain

Logical operators

In [36]:
subject = input("Write the name of the subject: ")
final_grade = input("Write the final grade (between 0 and 100): ")

if (subject == 'English' and final_grade >= '70'):
  print("You passed")
else:
  print("You failed")

Write the name of the subject: English
Write the final grade (between 0 and 100): 80
You passed

In [39]:
subject = input("Write the name of the subject: ")
final_grade = input("Write the final grade (between 0 and 100): ")
semester = input("Write the semester (between 1 and 4): ")

if (subject == 'English' and final_grade >= '70' and int(semester) != 1):
  print("You passed in %s with %r!" %(subject, final_grade))
else:
  print("You failed")

Write the name of the subject: English
Write the final grade (between 0 and 100): 80
Write the semester (between 1 and 4): 2
You passed in English with '80'!

# **Repetition structures**

Loop For is usual to validate each item in a set of values.

for i in setofvalues:
  ...

Loop For

In [40]:
year = (2020, 2021, 2022)

for i in year:
  print(i)

2020
2021
2022

In [41]:
ShoppingList = ["Egg", "Cake", "Soda", "Cookie"]

for i in ShoppingList:
  print(i)

Egg
Cake
Soda
Cookie

In [42]:
for counter in range(0, 15):
  print(counter)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [43]:
# Printing even numbers

numbers = [10, 20, 22, 34, 50, 9, 1, 15, 16, 45, 60]
for i in numbers:
  if (i % 2 == 0):
    print(i)

10
20
22
34
50
16
60

In [44]:
# Printing numbers between 0 and 50, increment of 2

for i in range(0, 50, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [45]:
for character in "Python is fun":
  print(character)

P
y
t
h
o
n

i
s

f
u
n

Nested loops

In [46]:
for i in range(0,3):
  for j in range(0,3):
    print(j)

0
1
2
0
1
2
0
1
2

In [47]:
A = [20, 15, 11, 36, 40]
sum = 0
for i in A:
  double = i * 2
  sum += double
print(sum)

244

In [48]:
lists =[[0, 1, 2], [4, 5, 6], [8, 9, 10]]

for value in lists:
  print(value)

[0, 1, 2]
[4, 5, 6]
[8, 9, 10]

In [49]:
list1 = [7, 8, 9, 10, 15]

counter = 0

for i in list1:
  counter += 1
print(counter)

5

In [51]:
list2 = [[7, 8, 9, 10, 15], [1, 2, 3], [11, 12, 13, 14]]

counter = 0
firstline = list2[1]
for column in firstline:
  counter += 1
print(counter)

3

In [53]:
list3 = [10, 20, 30, 40, 50]

for i in list3:
  if (i == 30):
    print("Found in the list")

Found in the list

In [54]:
dictionary = {'key1': 'Hello', 'key2': 'Bye', 'key3': 'Sure'}
for i in dictionary:
  print(i)

key1
key2
key3

In [55]:
dictionary = {'key1': 'Hello', 'key2': 'Bye', 'key3': 'Sure'}
for i in dictionary.items():
  print(i)

('key1', 'Hello')
('key2', 'Bye')
('key3', 'Sure')

# **Methods**

# **Functions**


# **Others operations**