<a href="https://colab.research.google.com/github/DiasMelissa/DiasMelissa/blob/main/Script06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conditionals if/else/elif**

if is useful to execute actions according to certain results.
Elif is useful to avoid repetitions inside the if/else structure.

if (...):
      ....
elif(...):
      ....      
else:
      ....  

While is useful to execute iterations.

while(...):
  print("Execute if such condition is true")

Range function:

range ([start], [stop], [step])

In [ ]:
# Conditional if

if (100 > 2):
  print("It's true")

It's true

In [ ]:
# Conditional If...Else

if (1000 > 10000):
    print("It's true")
else:
  print("It's false")

It's false

In [ ]:
if (10 == 10):
  print("It's testing")

It's testing

In [ ]:
if (True):
  print("It's working")

It's working

Nested conditionals

In [ ]:
age = 20
if (age > 18):
  print("You're over 18 years old")

You're over 18 years old

In [ ]:
age1 = 16
Name = "Molly"
if (age1 > 17):
  if (Name == "Molly"):
    print("You can join us")
  else:
    print("You can't join us")

In [ ]:
age1 = 18
Name = "Molly"
if (age1 > 17 and Name == "Molly"):
    print("You can join us")

You can join us

In [ ]:
age1 = 18
Name = "Molly"
if (age1 > 17 or Name == "Molly"):
    print("You can join us")

You can join us

Elif

In [ ]:
day = "Tuesday"
if (day == "Monday"):
  print("It will rain")
elif (day == "Tuesday"):
  print("It won't rain")
else:
  print("There isn't information about the weather forecast")

It won't rain

Logical operators

In [ ]:
subject = input("Write the name of the subject: ")
final_grade = input("Write the final grade (between 0 and 100): ")

if (subject == 'English' and final_grade >= '70'):
  print("You passed")
else:
  print("You failed")

Write the name of the subject: English
Write the final grade (between 0 and 100): 80
You passed

In [ ]:
subject = input("Write the name of the subject: ")
final_grade = input("Write the final grade (between 0 and 100): ")
semester = input("Write the semester (between 1 and 4): ")

if (subject == 'English' and final_grade >= '70' and int(semester) != 1):
  print("You passed in %s with %r!" %(subject, final_grade))
else:
  print("You failed")

Write the name of the subject: English
Write the final grade (between 0 and 100): 80
Write the semester (between 1 and 4): 2
You passed in English with '80'!

# **Repetition structures**

Loop For is usual to validate each item in a set of values.

for i in setofvalues:
  ...

Loop For

In [ ]:
year = (2020, 2021, 2022)

for i in year:
  print(i)

2020
2021
2022

In [ ]:
ShoppingList = ["Egg", "Cake", "Soda", "Cookie"]

for i in ShoppingList:
  print(i)

Egg
Cake
Soda
Cookie

In [ ]:
for counter in range(0, 15):
  print(counter)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
# Printing even numbers

numbers = [10, 20, 22, 34, 50, 9, 1, 15, 16, 45, 60]
for i in numbers:
  if (i % 2 == 0):
    print(i)

10
20
22
34
50
16
60

In [ ]:
# Printing numbers between 0 and 50, increment of 2

for i in range(0, 50, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
for character in "Python is fun":
  print(character)

P
y
t
h
o
n

i
s

f
u
n

Nested loops

In [ ]:
for i in range(0,3):
  for j in range(0,3):
    print(j)

0
1
2
0
1
2
0
1
2

In [ ]:
A = [20, 15, 11, 36, 40]
sum = 0
for i in A:
  double = i * 2
  sum += double
print(sum)

244

In [ ]:
lists =[[0, 1, 2], [4, 5, 6], [8, 9, 10]]

for value in lists:
  print(value)

[0, 1, 2]
[4, 5, 6]
[8, 9, 10]

In [ ]:
list1 = [7, 8, 9, 10, 15]

counter = 0

for i in list1:
  counter += 1
print(counter)

5

In [ ]:
list2 = [[7, 8, 9, 10, 15], [1, 2, 3], [11, 12, 13, 14]]

counter = 0
firstline = list2[1]
for column in firstline:
  counter += 1
print(counter)

3

In [ ]:
list3 = [10, 20, 30, 40, 50]

for i in list3:
  if (i == 30):
    print("Found in the list")

Found in the list

In [ ]:
dictionary = {'key1': 'Hello', 'key2': 'Bye', 'key3': 'Sure'}
for i in dictionary:
  print(i)

key1
key2
key3

In [ ]:
dictionary = {'key1': 'Hello', 'key2': 'Bye', 'key3': 'Sure'}
for i in dictionary.items():
  print(i)

('key1', 'Hello')
('key2', 'Bye')
('key3', 'Sure')

While

In [ ]:
counter = 0
while (counter <= 15):
  print(counter)
  counter = counter + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
y = 0

while (y < 15):
  print("The value of y in this iteration is: ", y)
  print("y is still smaller than 15, adding 1 to y")
  y += 1

else:
  print("Finish")

The value of y in this iteration is:  0
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  1
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  2
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  3
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  4
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  5
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  6
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  7
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  8
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  9
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  10
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  11
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  12
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  13
y is still smaller than 15, adding 1 to y
The value of y in this iteration is:  14
y is still smaller than 15, adding 1 to y
Finish

Pass, break and continue

In [ ]:
counter = 0
while (counter < 80):
  if (counter == 10):
    break
  else:
    pass
  print(counter) 
  counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for verify in "Python":
  if verify == "o":
    continue
  print(verify)

P
y
t
h
n

In [ ]:
def checkNumberIsPrime(number):
  counter = 2

  while (counter < number):
    if (number % counter == 0):
      return False

    counter = counter + 1

  return True


for number in range(2,21):
  itIsPrimeNumber = checkNumberIsPrime(number)

  if (itIsPrimeNumber):
    print(str(number) + " is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

Range

In [ ]:
print(range(10, 20, 2))

range(10, 20, 2)

In [ ]:
for Number in range(0, 10, 3):
  print(Number)

0
3
6
9

In [ ]:
for Number in range(3, 9):
  print(Number)

3
4
5
6
7
8

In [ ]:
for Number in range(0, -10, -3):
  print(Number)

0
-3
-6
-9

In [ ]:
fruits = ["Apple", "Lemon", "Orange", "Banana"]
length_fruits = len(fruits)
print(len(fruits))
for i in range(0, length_fruits):
  print(fruits[i])

4
Apple
Lemon
Orange
Banana

In [ ]:
type(range(0, 5))

range

# **Methods**

Functions are built into objects. It allows you to perform specific actions and it can have arguments. 

objeto.method (arg1, arg2, ...)

In [ ]:
list1 = []

In [ ]:
list1.append(2)
print(list1)

[2]

In [ ]:
list1.count(2)

1

In [ ]:
# Function help() explains how to use a method
help(list1.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [ ]:
# Show all the methods and attributes from an object
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
name = "Molly is a bird"
print(name.split())

['Molly', 'is', 'a', 'bird']

# **Functions**

They are useful when we construct code that are getting bigger to solve problems. We can bundle a set of instructions and there are parameters can serve as input to a function.

def functionName(arg1,arg2):

  ''' Comments '''

  Here is the code
  Here is the return of the function

In [ ]:
# Defining a function

def firstFunction():
  print("Hello World")


# **Others operations**