<a href="https://colab.research.google.com/github/DiasMelissa/DiasMelissa/blob/main/Script14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Creating database and inserting data**

In [38]:
import os
os.remove('dsa.db') if os.path.exists('dsa.db') else None

In [39]:
import sqlite3

conection = sqlite3.connect('dsa.db')

c = conection.cursor()

def create_table():
  c.execute('CREATE TABLE IF NOT EXISTS products(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
            'prod_name TEXT, value REAL)' ) 
def data_insert():
  c.execute("INSERT INTO products VALUES(10, '2022-05-02 18:52:10','Keyboard', 90)")
  conection.commit()
  c.close()
  conection.close()

In [40]:
create_table()

In [41]:
data_insert()

# **Entering data using variables**

In [50]:
import sqlite3
import random
import time
import datetime

conn = sqlite3.connect('dsa.db')

c = conn.cursor()

def create_table():
  c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
            'prod_name TEXT, valor REAL)' ) 
def data_insert():
  c.execute("INSERT INTO produtos VALUES('2018-05-02 12:34:45','Keyboard', 130.00)")
  conn.commit()
  c.close()
  conn.close()

def data_insert_var():
  new_date = datetime.datetime.now()
  new_prod_name = 'Monitor'
  new_valor = random.randrange(10, 50)
  c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES(?, ?, ?)", (new_date, new_prod_name, new_valor))
  conn.commit()

In [51]:
for i in range(10):
  data_insert_var()
  time.sleep(1)

In [52]:
c.close()
conn.close()

# **Data reading**

In [53]:
import sqlite3
import random
import time
import datetime

conn = sqlite3.connect('dsa.db')

c = conn.cursor()

def create_table():
  c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
            'prod_name TEXT, valor REAL)' ) 
def data_insert():
  c.execute("INSERT INTO produtos VALUES('2018-05-02 12:34:45','Keyboard', 130.00)")
  conn.commit()
  c.close()
  conn.close()

def data_insert_var():
  new_date = datetime.datetime.now()
  new_prod_name = 'Monitor'
  new_valor = random.randrange(10, 50)
  c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES(?, ?, ?)", (new_date, new_prod_name, new_valor))
  conn.commit()  

def lecture_all_data():
  c.execute("SELECT * FROM PRODUTOS")
  for line in c.fetchall():
    print(line)

def lecture_all_data():
  c.execute("SELECT * FROM PRODUTOS")
  for line in c.fetchall():
    print(line)

def lecture_records():
  c.execute("SELECT * FROM PRODUTOS WHERE valor > 60.0")
  for line in c.fetchall():
    print(line)

def lecture_columns():
  c.execute("SELECT * FROM PRODUTOS")
  for line in c.fetchall():
    print(line[3])

In [54]:
lecture_all_data()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2021-07-06 20:51:14.475529', 'Monitor', 92.0)
(12, '2021-07-06 20:51:15.479652', 'Monitor', 56.0)
(14, '2021-07-06 20:51:17.491347', 'Monitor', 80.0)
(15, '2021-07-06 20:51:18.498449', 'Monitor', 73.0)
(16, '2021-07-06 20:51:19.503444', 'Monitor', 88.0)
(17, '2021-07-06 20:51:20.508122', 'Monitor', 92.0)
(18, '2021-07-06 20:51:21.511482', 'Monitor', 55.0)
(19, '2021-07-06 20:51:22.515474', 'Monitor', 82.0)
(20, '2021-07-06 20:51:23.520584', 'Monitor', 61.0)
(21, '2022-07-08 22:25:56.289219', 'Monitor', 38.0)
(22, '2022-07-08 22:25:57.298301', 'Monitor', 13.0)
(23, '2022-07-08 22:25:58.305756', 'Monitor', 11.0)
(24, '2022-07-08 22:25:59.313889', 'Monitor', 18.0)
(25, '2022-07-08 22:26:00.321139', 'Monitor', 39.0)
(26, '2022-07-08 22:26:01.330283', 'Monitor', 34.0)
(27, '2022-07-08 22:26:02.337754', 'Monitor', 44.0)
(28, '2022-07-08 22:26:03.345480', 'Monitor', 25.0)
(29, '2022-07-08 22:26:04.353452', 'Monitor', 27.0)
(30, '2022-07-08 22:26:05.360762', 'Monitor', 37.0)

In [55]:
lecture_records()

(10, '2020-05-02 14:32:11', 'Teclado', 90.0)
(11, '2021-07-06 20:51:14.475529', 'Monitor', 92.0)
(14, '2021-07-06 20:51:17.491347', 'Monitor', 80.0)
(15, '2021-07-06 20:51:18.498449', 'Monitor', 73.0)
(16, '2021-07-06 20:51:19.503444', 'Monitor', 88.0)
(17, '2021-07-06 20:51:20.508122', 'Monitor', 92.0)
(19, '2021-07-06 20:51:22.515474', 'Monitor', 82.0)
(20, '2021-07-06 20:51:23.520584', 'Monitor', 61.0)

In [56]:
lecture_columns()

90.0
92.0
56.0
80.0
73.0
88.0
92.0
55.0
82.0
61.0
38.0
13.0
11.0
18.0
39.0
34.0
44.0
25.0
27.0
37.0

In [57]:
c.close()
conn.close()