<a href="https://colab.research.google.com/github/DiasMelissa/DiasMelissa/blob/main/Script05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuples**

It's similar to list, but it's immutable.

tuples = (var1, var2, ..., varn)

You can't use append and del to tuples items.

In [1]:
tuple1 = ("History", 30, "English")

In [2]:
tuple1

('History', 30, 'English')

In [3]:
tuple1[0]

'History'

In [4]:
len(tuple1)

3

In [10]:
tuple1[1:]

(30, 'English')

In [11]:
tuple1.index('English')

2

In [12]:
del tuple1

In [ ]:
tuple1

In [14]:
tuple2 = ("A", "B", "C", "D", "E")
print(tuple2)

('A', 'B', 'C', 'D', 'E')

In [16]:
list1 = list(tuple2)
print(list1)

['A', 'B', 'C', 'D', 'E']

In [17]:
list1.append('F')
print(list1)

['A', 'B', 'C', 'D', 'E', 'F']

In [18]:
tuple3 = tuple(list1)
print(tuple3)

('A', 'B', 'C', 'D', 'E', 'F')